#project {
  height: 100vh;
  width: 100%;
}
/* Set the height and width of the swiper container */
.swiper {
  width: 40%;
  height: 450px;
}
.project-section {
  margin: 55px 125px 0 140px;
  display: flex;
  flex-wrap: wrap;
}
/* Style the individual slides */
.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border: 1px solid #7d7b7b;
  border-radius: 19px;
  padding: 20px 40px;
}
.swiper-slide h2 {
  margin: 20px 0;
  text-align: center;
  font-size: 30px;
}
/* Customize pagination bullets */
.swiper-pagination-bullet {
  background-color: white;
  width: 12px;
  height: 12px;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  background-color: #ff5733;
  opacity: 1;
}

/* Style navigation arrows */
.swiper-button-next,
.swiper-button-prev {
  color: white;

  width: 20px;
  height: 10px;
  border-radius: 50%;
}

.projectImage {
  height: 250px;
  width: 100%;
  border-radius: 19px;
}
.project-btns {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.project-btns button {
  border: 1px solid #7d7b7b;
  border-radius: 19px;
  height: 40px;
  width: 120px;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: #413f3f;
  box-shadow: 10px 5px 10px #6e6c6c;
}
.project-btns a {
  text-decoration: none;
  font-size: 16px;
  color: #fff;
}
.project-btns button:hover {
  background-color: #000;
}
